h1 {
    padding-left: 20px;
    font-weight: bold;
    color: #999999;
    font-size: xx-large;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
}

ion-button {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.align-center {
    display: flex;
    margin: auto;
    text-align: center;
}