<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Location
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Location</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h1>{{title}}</h1>
    <p>{{text}}</p>
    
    <div>
      <ion-button class="align-center" shape="round" color="primary" (click)="readLocationInfo()">Read Data</ion-button>
    </div>
    <ion-card color="warning" size="small">
      <ion-card-header>
        <ion-card-title>{{card_subtitle}}</ion-card-title>
      </ion-card-header>
      <ion-card-content style="white-space: pre-line">
        {{card_content}}
      </ion-card-content>
    </ion-card>
    <div>
      <ion-button class="align-center" shape="round" color="primary" (click)="saveLocation()">Save Location</ion-button>
    </div>
    <ion-card color="warning" size="small">
      <ion-card-header>
        <ion-card-title>{{card_subtitle1}}</ion-card-title>
      </ion-card-header>
      <ion-card-content style="white-space: pre-line">
        {{records}}
      </ion-card-content>
    </ion-card>
    <div>
      <ion-button class="align-center" shape="round" color="primary" (click)="getRecords()">Load Records</ion-button>
    </div>
  </div>
</ion-content>
