<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Location
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Location</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h1>Location</h1>
    <p>This is not an actual sensor, but rather a combination of data collected from different sources (Global Positioning System, or GPS, cell-ID, and Wi-Fi) that allows us to determine the device’s geographical location (in latitude/longitude) at different levels of resolution (coarse or fine). GPS data is obtained from a network of satellites orbiting Earth and has an accuracy of around 4.9 meters (16 feet) under open sky. Location information derived from cellular tower or Wi-Fi access point IDs has much lower accuracy (between 5,300 feet and 1 mile), but uses very little energy as it works passively, in contrast to the active location- fixing done by GPS.</p>
    
    <div>
      <ion-button class="align-center" shape="round" color="primary">Read Data</ion-button>
    </div>
    <ion-card color="warning" size="small">
      <ion-card-header>
        <ion-card-title>Location Info</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        No data to show
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
